// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
// $fg-color: #{"@theme_fg_color"};
// $bg-color: #{"@theme_bg_color"};

$fg-color: white;
$bg-color: rgba(43, 43, 43, 0.60);

window.TopBar {
    background: transparent;
    color: $fg-color;
    font-weight: bold;

    >centerbox {
        background: $bg-color;
        border-radius: 10px;
        border-bottom: #07957b 4px solid;
        margin: 4px;
        padding : 0 8px;
    }

    button {
        all: unset;
        color: $fg-color;
        background: transparent;
        border: none;
        border-radius: 8px;
        padding: 4px 8px;
        margin: 2px;
        outline: none;
    }

    // Colors
    button {
        &.empty {
            all: unset;
        }
        &.red {
            background-color: #680000;
        }

        &.blue {
            background-color: #004d80;
        }
    }

    // Actions
    button {
        &:hover {
            opacity: 0.8;
        }
        &:active {
            opacity: 0.6;
        }
    }

    label {
        padding: 0 8px;
    }

    .workspace {
        min-width: 48px;
        &.focused {
            background: rgba(0, 242, 255, 0.2);
        }
        &.empty {
            background: rgba(0, 0, 0, 0.2);
        }
    }
}

window.SidebarPanelLeft {
    background: rgba(43, 43, 43, 0.95);
    color: white;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 4px 0 24px 0 rgba(0,0,0,0.25);
    transition: 200ms cubic-bezier(0.4,0,0.2,1);
    padding: 0;

    > .sidebar-content {
        padding: 32px 18px 18px 18px;
    }

    label {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 12px;
    }

    .app-button {
        all: unset;
    }
}
